@using Quartermaster.Blazor.Components
@inherits LayoutComponentBase

<nav class="navbar navbar-expand-lg bg-body-tertiary mb-3">
    <div class="container">
        <a class="navbar-brand" href="/">
            Quartermaster
        </a>
        <button class="navbar-toggler btn-hover-scale1" type="button" @onclick=ToggleMenu>
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse @(Collapsed ? "" : "show")">
            <ul class="navbar-nav me-auto mb-lg-0">
                <li class="nav-item">
                    <NavMenuButton HRef="/">Home</NavMenuButton>
                </li>
                <li class="nav-item">
                    <NavMenuDropdown>
                        <ButtonContent>Mitgliedsportal</ButtonContent>
                        <DropdownContent>
                            <li><a class="dropdown-item" href="/DueSelector/UserDataInput">Beitragseinstufung</a></li>
                        </DropdownContent>
                    </NavMenuDropdown>
                </li>
                <li class="nav-item">
                    <NavMenuDropdown>
                        <ButtonContent>Verwaltung</ButtonContent>
                        <DropdownContent>
                            <li><a class="dropdown-item disabled" href="#">Gemeindedatenbank</a></li>
                        </DropdownContent>
                    </NavMenuDropdown>
                </li>
            </ul>
            <div>
                <button class="btn btn-hover-color-body-bg btn-hover-scale1" @onclick=ToggleDarkMode>
                    @if (AppState.SelectedTheme == Theme.Dark) {
                        <i class="bi bi-brightness-high-fill"></i>
                    } else {
                        <i class="bi bi-moon-fill"></i>
                    }
                </button>
            </div>
        </div>
    </div>
</nav>

<div class="container mb-3">
    @Body
</div>