<div @onpointerenter=OnPointerEnter @onpointerleave=OnPointerLeave @onclick=OnClick>
    <div class="card hover-interact qm-bg-body
                @(EnabledFunc() ? "qm-hover-bg-secondary cursor-pointer border-" + CardBorderType : "")">
        <div class="card-body d-flex justify-content-between @(EnabledFunc() ? "" : "text-secondary")">
            <div>
                @ChildContent
            </div>

            @if (EnabledFunc()) {
                <i class="bi bi-caret-right-fill text-primary fs-3"></i>
            } else {
                <i class="bi bi-ban fs-3"></i>
            }
        </div>
    </div>
</div>