<button class="nav-link pe-auto" @onclick=ToggleDropdown @onfocusout=OnFocusOut>
    @ButtonContent

    @if (Collapsed) {
        <i class="ps-1 bi bi-caret-down-fill"></i>
    } else {
        <i class="ps-1 bi bi-caret-up-fill"></i>
    }
</button>

<ul class="dropdown-menu @(Collapsed ? "" : "show")">
    @DropdownContent
</ul>