@page "/Administration/AdministrativeDivisionTree"

<div class="mb-3">
    <h3>Gemeindedatenbank - Struktur</h3>
</div>

@if (RootNodes == null) {
    <LoadingSpinner />
} else {
    <div class="list-group">
        @foreach (var node in RootNodes) {
            <TreeNode Node=node Http=Http />
        }
    </div>
}
