@page "/Administration/ChapterTree"
@using Quartermaster.Api.Chapters

<PageHeader Title="Gliederungen - Struktur">
    <Actions>
        <a href="/Administration/Chapters" class="btn btn-sm btn-outline-secondary">
            <i class="bi bi-list-ul"></i> Liste
        </a>
    </Actions>
</PageHeader>

@if (RootNodes == null) {
    <LoadingSpinner />
} else {
    <div class="list-group">
        @foreach (var node in RootNodes) {
            <ChapterTreeNode Node="node" Http="Http" />
        }
    </div>
}
