<div class="form-check" @onclick=ToggleState>
    <input class="form-check-input cursor-pointer" type="checkbox" @bind=Value>
    <label class="form-check-label cursor-pointer">
        Lastschriftmandat erteilen
    </label>
</div>