@page "/Motions/Create"
@using Quartermaster.Api.Motions

<div class="mb-3">
    <h3>Antrag einreichen</h3>
</div>

<div class="mb-3">
    <label class="form-label">Gliederung <RequiredStar /></label>
    <ChapterPicker @bind-Value="SelectedChapterId" />
</div>

<div class="mb-3">
    <label for="authorName" class="form-label">Dein Name <RequiredStar /></label>
    <input type="text" class="form-control" id="authorName" @bind="AuthorName" @bind:event="oninput" />
</div>

<div class="mb-3">
    <label for="authorEMail" class="form-label">Deine E-Mail Adresse <RequiredStar /></label>
    <input type="email" class="form-control" id="authorEMail" @bind="AuthorEMail" @bind:event="oninput" />
</div>

<div class="mb-3">
    <label for="title" class="form-label">Titel des Antrags <RequiredStar /></label>
    <input type="text" class="form-control" id="title" @bind="Title" @bind:event="oninput" />
</div>

<div class="mb-3">
    <label for="text" class="form-label">Antragstext <RequiredStar /></label>
    <textarea class="form-control" rows="6" id="text" @bind="Text" @bind:event="oninput" maxlength="8192"></textarea>
</div>

<div class="d-flex justify-content-end">
    <button class="btn btn-primary @(CanSubmit() ? "" : "disabled")" @onclick="Submit">
        Antrag einreichen
    </button>
</div>
